@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: arial;
}

nav{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	display: block;
	font-family: Poppins;
	font-weight: bold;
}

section {
	display: block;
	padding: 50px 0;
}

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: grey;
    margin : 0 auto;
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (max-width: 576px) {
	.container {
		max-width: 540px;
	}
}

.flex {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.picture {
	flex: 0 0 30%;
	height: 200px;
	background-color: red;
}

.img {
	height: 200px;
	width: 200px;
	background-color: green;
}

.info {
	height: 200px;
	background-color: blue;
	margin: 0 20px;
}

@media (min-width: 576px) {
	.info {
		flex: 0 0 50%;
	}
}

.titles {
	height: 200px;
	background-color: red;
}

@media (min-width: 576px) {
	.illustration {
		flex: 0 0 40%;
	}
}

.illustration {
	height: 200px;
	background-color: blue;
	margin: 0 20px;
	flex: 0 0 40%;
}

@media (max-width: 576px) {
	.illustration {
		display: none;
	}
}

footer {
	width: 100%;
	padding-top : 20px;
	background-color: black;
}

.preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 7;
	display: grid;
	place-items : center;
	animation: fade .5s forwards;
	animation-delay: 1s;
}

@keyframes fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.spinner {
	width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid black;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spin .75s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}